.footerUL {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #242e30;
  padding: 5rem;
  background-color: var(--accent-100);
}

.logoFooter {
  width: 100px;
  height: 100px;
  margin: 0 3rem;
}

.ulLeft,
.ulRight {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.gitHubLogo {
  width: 40px;
  height: 40px;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.eachPerson {
  text-decoration: none;
  color: var(--black);
}

.footerUl a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--black);
}

@media screen and (max-width: 760px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 10px;
  }

  .ulRight,
  .ulLeft {
    flex-direction: column;
  }

  .mobile {
    margin-top: 1rem;
  }
}
