.sideBar .sideNav-Link.active {
    background-color: var(--bg-100);
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 10px 3px rgb(116, 114, 114);
  }
  .side-logout {
    margin-left: 1.1rem;
  }
  @media (max-width: 760px) {
    
  
   
     .sideNav-Link {
      justify-content: center;
    }
  
     .side-logout {
      margin-left: -0.5rem;
    }  
  }