.change-profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5f4ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.change-profile .profile-h1 {
  margin-top: 15px;
}

.change-profile .profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.profile-input-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-profile input[type="file"] {
  border: 1px solid rgb(193, 214, 254);
  width: 60%;
  position: relative;
  color: rgb(0, 0, 0, 0);
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.change-profile input[type="file"]::file-selector-button {
  border: 0;
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.change-profile input[type="file"]::file-selector-button:hover {
  background-color: #2077b3;
}

.change-profile .form-img {
  max-width: 300px;
  object-fit: cover;
  margin: 2rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.change-profile .profile-submit {
  background: #3498db;
  color: #fff;
  font-size: 18px;
  padding: 10px 18px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-profile .profile-submit:hover {
  background-color: #2077b3;
  color: white;
}

@media screen and (max-width: 760px) {
  .change-profile {
    flex-direction: column;
    width: 80%;
  }

  .change-profile .profile-h1 {
    margin: 20px 0 0 0;
    font-size: 20px;
  }

  .profile-input-container {
    margin: 0;
  }

  .change-profile input[type="file"] {
    font-size: 12px;
    margin-top: 0;
  }

  .change-profile .form-img {
    max-width: 150px;
  }
  .change-profile .profile-submit {
    font-size: 12px;
    margin-bottom: 0;
  }
}
